@{
    ViewData["Title"] = "Home Page";
}


<h1>Меню</h1>
<div class="btn-group-vertical m-3">
    <button class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a></button>
    <button class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-area="" asp-controller="People" asp-action="Index">Сотрудники</a></button>
    <button class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-area="" asp-controller="Users" asp-action="Index">Зарплата</a></button>
</div>
<p>Вы авторизованы в системе</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><button class="btn btn-success">@ViewData["Message_btn"]</button></a>