@model SigmERP.Models.User
@{
    ViewData["Title"] = "Профиль";
}

<div class="jumbotron">
    <h1 class="display-4">SigmERP System</h1>
    <p class="lead">Вы авторизованы в системе</p>
    <hr class="my-4">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><button class="btn btn-success">@ViewData["Message_btn"]</button></a>
</div>